<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Mass Technology</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/admin">Admin <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/public">Home</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin">
          <fa name="cog" animation="spin"></fa>&nbsp;Admin
        </a>
      </li>
      <li class="nav-item">
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>zpeters</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">My Settings</button>
                <button class="dropdown-item">My Password</button>
                <hr>
                <button class="dropdown-item">Logout</button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>