<div class="card">
  <div class="card-header text-white bg-secondary">
    Manage Companies<span style="float: right"><button type="button" class="btn btn-outline-success btn-sm text-white" (click)="onClick($event)">
        <fa name="plus"></fa>
      </button>
    </span>
  </div>
  <div class="card-body">
    <app-company-add *ngIf="addNewCompany === true" (companyAdded)="onCompanyAdded($event)"></app-company-add>
    <app-company-detail *ngIf="selectedCompany" [company]="selectedCompany"></app-company-detail>
    <ng-template #selectCompany>
      <p>Searching For: </p>
    </ng-template>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" id="" placeholder="enter company name">
        </div>
      </div>
    </div>
    <app-company-list></app-company-list>
  </div>
</div>