<div class="container-fluid">
  <br>
  <ngb-tabset type="pills">
    <ngb-tab title="Jobs">
      <ng-template ngbTabContent>
        <br>
        <app-jobs></app-jobs>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Companies">
      <ng-template ngbTabContent>
        <br>
        <app-companies></app-companies>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="People">
      <ng-template ngbTabContent>
        <br>
        <app-people></app-people>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>