<div class="card bg-light border-success">
  <div class="card-header text-white bg-success">
    <h5>Add New Company</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="companyName">Company Name</label>
          <input type="text" class="form-control" id="companyName" placeholder="..." #companyNameInput>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-success" (click)="onAddCompany()">Add</button>&nbsp;<button type="button" class="btn btn-outline-secondary">Clear</button>
  </div>
</div>
<hr>